{% extends '::base.html.twig' %}
{% block header %}
<div class="jumbotron jumbotron-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('miriade_home',{'id':1}) }}"><img src="{{ asset('assets/images/miriade_logo.png') }}" alt="Miriade"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('miriade_home',{'id':1}) }}">Accueil</a>
                    </li>
                    {% block headervent %}

                    {% endblock %}
                    {#<li>
                        <a href="{{ path('miriade_event_event_dashboard') }}">À propos</a>
                    </li>
                    <li>
                        <a href="{{ path('miriade_event_event_dashboard') }}">Programme</a>
                    </li>
                    <li>
                        <a href="{{ path('miriade_event_event_dashboard') }}">Contact</a>
                    </li>
                    <li>
                        <a href="{{ path('miriade_event_event_dashboard') }}">Plan d'accès</a>
                    </li>
					#}
                </ul>
                <form class="navbar-form navbar-right">

                    {% if app.user %}

                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <a class="btn btn-default" href="{{ path('miriade_admin_homepage') }}" role="button">Zone Admin</a>
                        {% endif %}

                        {% if "ROLE_MANAGER" in app.user.roles %}
                            <a class="btn btn-default" href="{{ path('miriade_admin_homepage') }}" role="button">Gestion de mes évènements</a>
                        {% endif %}

                        {% if "ROLE_PARTICIPANT" in app.user.roles %}
                            <a class="btn btn-default" href="{{ path('miriade_user_profil') }}" role="button">Mon profil</a>
                        {% endif %}

                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">Déconnexion</a>

                        {% else %}

                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Inscription</a>

                    {% endif %}
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="container intro-message">
        {% block intromessage %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
