{% extends '::base.html.twig' %}
{% block header %}
<div class="jumbotron jumbotron-main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-ba    r"></span>
                </button>
                <a class="navbar-brand" href="{{ path('miriade_event_event_dashboard') }}"><img src="{{ asset('assets/images/miriade_logo.png') }}" alt="Miriade"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('miriade_event_event_dashboard') }}">Accueil du site</a>
                    </li>
                    {% block headervent %}

                    {% endblock %}
                    {#<li>#}
                        {#<a href="{{ path('carto_fiche_dashboard_dashboard') }}">Programme</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('carto_fiche_dashboard_dashboard') }}">Comment ça marche ?</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('carto_fiche_dashboard_dashboard') }}">Contact</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('carto_fiche_dashboard_dashboard') }}">Plan d'accès</a>#}
                    {#</li>#}
                </ul>
                <form class="navbar-form navbar-right">

                    {% if app.user %} 
                        <!-- si l'utilisateur est connecté -->

                        <a class="btn btn-default" href="{{ path('miriade_event_event_new') }}" role="button">Creation</a>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">Déconnexion</a>

                        {% else %}
                            <!-- sinon -->

                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Inscription</a>

                    {% endif %}
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="container intro-message">
        {% block intromessage %}
        {% endblock %}
    </div>
</div>

<!-- Connexion Modal : start -->
<div class="modal fade bs-example-modal-lg" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="myConnexionModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="gridSystemModalLabel">Identifiez-vous</h2>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#inscriptionModal" style="float:left;">Inscription</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </div>
</div>
<!-- Connexion Modal : end -->

<script type="text/javascript">
    $(document).ready(function(){
        $('#inscriptionModal').on('show.bs.modal', function (e) {
            $('#connexionModal').modal('hide');
        })
    });
</script>

<!-- Inscription Modal : start -->
<div class="modal fade bs-example-modal-lg" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="myInscriptionModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="gridSystemModalLabel">Inscription</h2>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <div class="form-group">
                        <input type="email" class="form-control" id="loginId" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passId" placeholder="Mots de passe">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passIdConfirm" placeholder="Confirsynchronismer mots de passe">
                    </div>
                    <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <p>&copy; Miriade 2015</p>
{% endblock %}
