{% extends "MiriadeAdminBundle::base.html.twig" %}

{% block title %}Modification d'un événement{% endblock %}

{% block content %}
<div id="wrapper-event-update" class="container">
	<div class="row">
		<h1 class="page-header">{{ event.title }}</h1>
		<div class="row">
			{{ form_start(form, {'attr': {'class': 'form'}}) }}
			<div class="row">
					{# Les erreurs générales du formulaire. #}
					<p class="text-danger">{{ form_errors(form) }}</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(form.title, "Intitulé :") }}
				    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(form.description, "Description :") }}
			    	{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form_label(form.startDate, "Date de début :") }}
								<div class="input-group date" id='datetimepicker1'>
					    		{{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
									<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
					    	{{ form_label(form.endDate, "Date de fin :") }}
								<div class="input-group date" id='datetimepicker2'>
						    	{{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
									<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
					    	{{ form_label(form.limitDate, "Date limite d'inscription/désinscription :") }}
								<div class="input-group date" id='datetimepicker3'>
						    	{{ form_widget(form.limitDate, {'attr': {'class': 'form-control'}}) }}
									<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form_label(form.nbTable, "Nombre de tables :") }}
					    	{{ form_widget(form.nbTable, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="form-group">
					    	{{ form_label(form.rdv, "Durée des rendez-vous :") }}
					    	{{ form_widget(form.rdv, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>

					</div>

				</div>
				<div class="col-md-6">
					<div class="form-group">
						{{ form_label(form.image, "Image :") }}
						<span class="btn btn-default btn-file">
				    	Chercher sur mon ordinateur{{ form_widget(form.image, {'id' : 'input-file-1'}) }}
						</span>
						<p class="help-block">Image de l'événement sur la page d'accueil</p>
						<div id="selected-image-1">
							<img class="img-responsive" src="{{ asset('upload/images/') }}{{ event.image }}" alt="{{ event.title }}">
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.adress, "Adresse :") }}
				    	{{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(form.city, "Ville :") }}
				    	{{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.cp, "Code postal :") }}
				    	{{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>


			<input type="submit" class="btn btn-success" value="Enregistrer" />
			<a type="button" class="btn btn-default" onclick="history.go(-1)">Retour</a>

			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}
