{% extends "MiriadeAdminBundle::base.html.twig" %}

{% block title %}Gestion des événements{% endblock %}

{% block content %}
<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Gestion des évènements <a href="{{ path('miriade_event_new') }}" class="btn btn-default">Création</a></h1>
		</div>
</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 hero-feature">
			<ul>
			    {% for event in events %}
			        <div class="thumbnail" style="box-shadow: 0px 1px 5px rgb(0, 0, 0);">
			        	<h3><a href="{{ path('miriade_home', {"id" : event.id}) }}">{{ event.title }}</a></h3>
								<div class="row eventDates">
									<div class="col-sm-6">
										<span><b>Début :</b><br/> {{ event.startDate }}</span>
									</div>
									<div class="col-sm-6">
										<span><b>Fin :</b><br/> {{ event.endDate }}</span>
									</div>
								</div>
								<div class="row btnsAction">
									<div class="col-sm-12">
										<a href="{{ path('miriade_admin_event_update', {"id" : event.id}) }}" class="btn btn-primary">Modifier</a>
					        	<a href="{{ path('miriade_admin_event_delete', {"id" : event.id}) }}"class="btn btn-default">Supprimer</a>
									</div>
								</div>
			        </div>
			    {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
