{% extends "MiriadeAdminBundle::base.html.twig" %}

{% block title %}Gestion des événements{% endblock %}

{% block content %}
<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Gestion des évènements</h1>
		</div>
</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 hero-feature">
			<ul>
				{% for event in events %}
					<div class="thumbnail" style="box-shadow: 0px 1px 5px rgb(0, 0, 0);">
						<h3><a href="{{ path('miriade_home', {"id" : event.id}) }}">{{ event.title }}</a></h3>
								<div class="row eventDates">
									<div class="col-sm-6">
										<span><b>Début :</b><br/> {{ event.startDate }}</span>
									</div>
									<div class="col-sm-6">
										<span><b>Fin :</b><br/> {{ event.endDate }}</span>
									</div>
								</div>
								<div class="row btnsAction">
									<div class="col-sm-12">
										<a href="{{ path('miriade_admin_event_update', {"id" : event.id}) }}" class="btn btn-primary">Modifier</a>
								<a href="{{ path('miriade_admin_event_delete', {"id" : event.id}) }}"class="btn btn-default">Supprimer</a>
									</div>
								</div>
					</div>
				{% endfor %}
			</ul>
		</div>
	</div>
	<br>
	<div class="table-responsive">
				<table class="table table-bordered table-hover">
						<thead>
								<tr>
										<th class="sort" data-sort="eventName">Évenement <b class="caret"></b></th>
										<th class="sort" data-sort="startDate">Date de début <b class="caret"></b></th>
										<th>Date de fin</b></th>
										<th>Actions</th>
								</tr>
						</thead>
						<tbody class="list">

						{% for event in events %}
								<tr>
										<td><a class="eventName" href="{{ path('miriade_home', {"id" : event.id}) }}">{{ event.title }}</a></td>
										<td class="startDate">{{ event.startDate }}</td>
										<td>{{ event.endDate }}</td>
										<td>
														<a type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>&nbsp;Modifier</a>
														<a type="button" href="{{ path('miriade_admin_event_delete', {"id" : event.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;Supprimer</a>
										</td>
								</tr>
						{% endfor %}
						</tbody>
				</table>
		</div>
</div>
{% endblock %}
