{% extends "MiriadeAdminBundle::base.html.twig" %}

{% block title %}Modification d'un utilisateur{% endblock %}

{% block content %}

<h1>Modification d'une fiche utilisateur</h1>

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {{ form_label(form.lastname, "Nom :") }}
    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.firstname, "Prénom :") }}
    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.email, "Email :") }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.enterprise, "Entreprise :") }}
    {{ form_widget(form.enterprise, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.job, "Poste occupé :") }}
    {{ form_widget(form.job, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.siret, "Siret :") }}
    {{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.adress, "Adresse :") }}
    {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.zipcode, "Code postal :") }}
    {{ form_widget(form.zipcode, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.city, "Ville :") }}
    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.phone, "Téléphone :") }}
    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.roles, "Rôle :") }}
    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}

	<input type="submit" class="btn btn-success" value="Modifier" />

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

{% endblock %}