{% extends "MiriadeAdminBundle::base.html.twig" %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block content %}
<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">
						Liste des utilisateurs <small></small>
				</h1>
		</div>
</div>
<div class="row" id="userList">
		<div class="col-lg-6" id="managerList">
				<h2>Managers</h2>
				<div class="row">
						<div class="col-md-8">
								<div class="input-group">
									<input type="text" class="form-control search" placeholder="Rechercher des managers...">
									<span class="input-group-btn">
										<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div><!-- /input-group -->
						</div>
						<div class="col-md-4">
								<a type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nouveau manager</a>
						</div>
				</div>
				<br>
				<div class="table-responsive">
						<table class="table table-bordered table-hover">
								<thead>
										<tr>
												<th class="sort" data-sort="userName">Nom <b class="caret"></b></th>
												<th class="sort" data-sort="societyName">Societe <b class="caret"></b></th>
												<th>Actions</th>
										</tr>
								</thead>
								<tbody class="list">

								{% for user in users %}
										{% if "ROLE_ADMIN" in user.roles%}
										<tr>
												<td><a href="#" class="userName">{{ user.firstname }} {{ user.lastname }}</a></td>
												<td class="societyName">{{ user.enterprise }}</td>
												<td>

																<a type="button" class="btn btn-default" href="{{ path('miriade_admin_user_update', {"id" : user.id}) }}"><span class="glyphicon glyphicon-edit text-danger"></span>&nbsp;Modifier</a>
																<a type="button" href="{{ path('miriade_admin_user_delete', {"id" : user.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;Supprimer</a>
												</td>
										</tr>
									{% endif %}
								{% endfor %}
								</tbody>
						</table>
				</div>
		</div>
		<div class="col-lg-6" id="participantList">
				<h2>Participants</h2>
				<div class="row">
						<div class="col-md-8">
								<div class="input-group">
									<input type="text" class="form-control search" placeholder="Rechercher des participants...">
									<span class="input-group-btn">
										<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div><!-- /input-group -->
						</div>
						<div class="col-md-4">
								<a type="button" href="{{ path('fos_user_registration_register') }}"class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nouveau participant</a>
						</div>
				</div>
				<br>
				<div class="table-responsive">
						<table class="table table-bordered table-hover">
								<thead>
										<tr>
												<th class="sort" data-sort="userName">Nom <b class="caret"></b></th>
												<th class="sort" data-sort="societyName">Société <b class="caret"></b></th>
												<th>Actions</th>
										</tr>
								</thead>
								<tbody class="list">
									
									{% for user in users %}
										{% if "ROLE_ADMIN" not in user.roles %}
										<tr>
												<td><a href="#" class="userName">{{ user.firstname }} {{ user.lastname }}</a></td>
												<td class="societyName">{{ user.enterprise }}</td>
												<td>
																<a type="button" class="btn btn-default" href="{{ path('miriade_admin_user_update', {"id" : user.id}) }}"><span class="glyphicon glyphicon-edit text-danger"></span>&nbsp;Modifier</a>

																<a type="button" href="{{ path('miriade_admin_user_delete', {"id" : user.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;Supprimer</a>
												</td>
										</tr>
										{% endif %}
									{% endfor %}
										
								</tbody>
						</table>
				</div>
		</div>
</div>
{% endblock %}
