{% extends 'MiriadeEventBundle::layout.html.twig' %}

{%block stylesheets%}
	<link href="{{ asset('assets/css/event.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('assets/css/reset.css') }}" type="text/css" rel="stylesheet" />
{%endblock%}

{% block headervent %}
	<input type="hidden" id="event-slug" value="{{event.slug}}"/>
	<li>
		<a href="{{ path('miriade_event_about',{'id':event.id}) }}">À propos</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_program',{'id':event.id}) }}">Programme</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_contact',{'id':event.id}) }}">Contact</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_map',{'id':event.id}) }}">Plan d'accès</a>
	</li>
{% endblock %}
{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Contact</h1>
                <div class="event-description contact">
                    <h3>&#10149; Organisateur principal</h3>
                    <hr>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Miriade</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/Setting/OrganizationLogo/2015_08/220x140_miriade_Region_HD.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Elisa Tofoni<br>
                                            <abbr title="Téléphone">P:</abbr>+33231533459<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:tofoni@miriade-innovation.fr">tofoni@miriade-innovation.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-item">
                            <h4>Miriade</h4>
                            <table class="table">
                                <tr>
                                    <td valign="middle">
                                        <img src="http://silvernormandie.talkb2b.net/thumbs/Setting/OrganizationLogo/2015_08/220x140_miriade_Region_HD.jpg" alt="Miriade">
                                    </td>
                                    <td>
                                        <address>
                                            Gwladys Lemenand<br>
                                            <abbr title="Téléphone">P:</abbr>+33231533457<br>
                                            <abbr title="E-mail">E:</abbr><a href="mailto:tofoni@miriade-innovation.fr">lemenand@miriade-innovation.fr</a>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3>&#10149; Co-organisateurs</h3>
                    <hr>
                    {% for partner in partners %}
                        {% if (partner.statut == 'Co-Organisateur') or (partner.statut == 'Organisateur') %}
                            <div class="col-md-6">
                                <div class="contact-item">
                                    <h4>{{ partner.libelle }}</h4>
                                    <table class="table">
                                        <tr>
                                            {% if partner.logo != '_none' %}
                                                <td valign="middle">
                                                    <img class="img-responsive" src="{{ asset('upload/images/'~partner.logo) }}" alt="{{ partner.libelle }}">
                                                </td>
                                            {% endif %}
                                            <td>
                                                <address>
                                                    {{ partner.nameContact }}<br>
                                                    <abbr title="Téléphone">P:</abbr>{{ partner.phone }}<br>
                                                    <abbr title="E-mail">E:</abbr><a href="{{ partner.email }}">Envoyer un mail</a>
                                                </address>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block javascripts%}
	<script src="{{ asset('assets/js/link.js') }}"></script>
{%endblock%}
