{% extends 'MiriadeEventBundle::layout.html.twig' %}
{% block content %}
    <div id="list-events" class="container" xmlns="http://www.w3.org/1999/html">
      <h2>Liste des événements</h2>
        <div class="well">
        {% for event in events %}
          <div class="row">
            <div class="col-sm-9 col-xs-5">
                <h3><a href="{{ path('miriade_event_show', { 'id': event.id }) }}">{{ event.title }} ({{ event.startDate|date("d/m/Y") }} - {{ event.endDate|date("d/m/Y") }})</a></h3>
                <p>{{ event.description }}</p>
            </div>
          </div>
          <hr>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
