{% extends 'MiriadeEventBundle::layout.html.twig' %}
{%block stylesheets%}
	<link href="{{ asset('assets/css/map.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('assets/css/event.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('assets/css/reset.css') }}" type="text/css" rel="stylesheet" />
{%endblock%}
{% block headervent %}
	<li>
		<a href="{{ path('miriade_event_about',{'id':event.id}) }}">À propos</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_program',{'id':event.id}) }}">Programme</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_contact',{'id':event.id}) }}">Contact</a>
	</li>
	<li>
		<a href="{{ path('miriade_event_map',{'id':event.id}) }}">Plan d'accès</a>
	</li>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1>Plan d'accès</h1>
				<div class="row">
					<div id="map-outer" class="col-md-12">
						<div id="address" class="col-md-4">
							<h3>Notre position</h3>
							<address>
								<strong>MIRIADE INNOVATION</strong><br>
								Campus EffiScience <br>
								2 Esplanade Anton Philips <br>
								14460 COLOMBELLES<br>
								FRANCE
							</address>
							<h3>Position de l'événement</h3>
								<address>
									<strong>{{ event.title }}</strong><br>
									{{ event.adress }} <br>
									{{ event.cp }} <br>
									{{ event.city }}<br>
									FRANCE
								</address>
						</div>
						<div id="map-container" class="col-md-8"></div>
					</div><!-- /map-outer -->
				</div>
			</div>
		</div>
    </div>
{% endblock %}

{%block javascripts%}
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="{{ asset('assets/js/map.js') }}"></script>
{%endblock%}
