{% trans_default_domain 'FOSUserBundle' %}

{% extends 'MiriadeEventBundle::layout.html.twig' %}

{%block stylesheets%}
	<link href="{{ asset('assets/css/login-signup.css') }}" type="text/css" rel="stylesheet" />
{%endblock%}

{#<li>
	<a href="{{ path('miriade_event_about',{'id':event.id}) }}">À propos</a>
</li>
<li>
	<a href="{{ path('miriade_event_program',{'id':event.id}) }}">Programme</a>
</li>
<li>
	<a href="{{ path('miriade_event_contact',{'id':event.id}) }}">Contact</a>
</li>
<li>
	<a href="{{ path('miriade_event_map',{'id':event.id}) }}">Plan d'accès</a>
</li>
#}

{% block content %}
	<div id="register-page" class="container">
		<div class="row">
			<div class="col-md-9">
					{{ form_start(form, {"action": path('fos_user_registration_register')} ) }}
						<div class="row well">
							<h2>Inscription</h2>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										{{ form_label(form.lastname) }}
										{{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.enterprise) }}
										{{ form_widget(form.enterprise, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.siret) }}
										{{ form_widget(form.siret, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.zipcode) }}
										{{ form_widget(form.zipcode, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.email) }}
										{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_errors(form.plainPassword.first) }}
										{{ form_label(form.plainPassword.first, "Mot de passe") }}
										{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' }}) }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										{{ form_label(form.firstname) }}
										{{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.job) }}
										{{ form_widget(form.job, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.adress) }}
										{{ form_widget(form.adress, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.city) }}
										{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.phone) }}
										{{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
									</div>
									<div class="form-group">
										{{ form_label(form.plainPassword.second) }}
										{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' }}) }}
									</div>
								</div>
						    <div>
						        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
										<input type="reset" class="btn" />
						    </div>
							</div>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
{% endblock content %}

{%block javascripts%}
	<script src="{{ asset('assets/js/form.js') }}"></script>
{%endblock%}
