<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - Zone d'administration</title>
	<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/css/bootstrap.min.css') }}" type="text/css" />
	<!--<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/css/plugins/morris.css') }}" type="text/css" />-->
	<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/font-awesome/css/font-awesome.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/css/sb-admin.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/miriadeadmin/css/datepicker.css') }}" type="text/css" />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="{{ path('miriade_admin_homepage') }}">Miriade Admin</a>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
									<li class="divider"></li>
									<li>
											<a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
									</li>
							</ul>
					</li>
			</ul>
		</nav>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li>
						<a href="{{ path('miriade_admin_events') }}"><span class="glyphicon glyphicon-list-alt"></span> ÉVÉNEMENTS	</a>
					</li>
					<li class="active">
						<a href="{{ path('miriade_admin_users_events') }}"><span class="glyphicon glyphicon-user"></span> UTILISATEURS</a>
					</li>
				</ul>
		</div>
		<div id="page-wrapper">
			<div class="container-fluid">
				{% block content %}
				{% endblock %}
			</div>
	  </div>
	</div>
	<script type="text/javascript" src="{{ asset('bundles/miriadeadmin/js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/miriadeadmin/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/miriadeadmin/js/list.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/miriadeadmin/js/moment.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/miriadeadmin/js/bootstrap-datetimepicker.js') }}"></script>
	<script type="text/javascript">

			var options = {
				valueNames: [ 'userName', 'societyName', 'eventName', 'startDate' ]
			};

			var managerList = new List('managerList', options);
			var participantList = new List('participantList', options);
			var eventList = new List('eventList', options);

			$(function () {
					$('#datetimepicker1').datetimepicker({
							locale: 'fr',
							allowInputToggle: true
					});
					$('#datetimepicker2').datetimepicker({
              locale: 'fr',
							allowInputToggle: true
          });
      });
	</script>
</body>
</html>
